<div class="jumbotron">
  <div class="row">
      <div class="col-md-6">
        {{#if responseMessage}}

          <div class="col-md-6">
          <br/>
            <div class="alert alert-success">
              <h4>Thank you! Your message is sent.</h4>
              <p>To: {{model.email}}</p>
              <p>Message: {{model.message}}</p>
              <p>Reference ID: {{model.id}}</p>
            </div>
          </div>

      {{else}}

        <div class="form-group has-feedback {{if model.isValidEmail 'has-success'}}">
          <label>Your email address*:</label>
            {{input type="email" value=model.email class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
            {{#if model.isEmailValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
        <div class="form-group has-feedback {{if model.isMessageEnoughLong 'has-success'}}">
          <label>Your message*:</label>
          {{textarea value=model.message class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7"}}
          {{#if model.isMessageLongEnough}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>

        <button class="btn btn-primary btn-lg btn-block" {{action 'saveContact' model}} disabled={{unless model.isValid 'disabled'}}>
          Send message
        </button>

      {{/if}}
    </div>
  </div>
</div>
